script(src="/javascripts/jquery-1.6.2.min.js")
script(src="/javascripts/jquery-ui-1.8.16.custom.min.js")
script(src="/javascripts/view.index.js")

#ads
  a(href="#")
    img(src="images/ad160x600.gif", alt="", width="160", height="450")

#content
  #content-header
    img(src="../images/img17.jpg")
    h3 Some curious facts about:
    h2 Facts

  #facts

  button#show-add Add new fact

  #new-fact-form(title="Add new fact")
    //label(for="new-fact") Add new fact:
    textarea#new-fact
    input(id="add-new-fact", type="submit")

#sidebar
  ul
    li#categories
      h2 Choose your hero
      ul#heroes
        each hero in heroes
          li
            a(href='#') #{hero}
